@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = $"User Details - {Model.FullName}";
}

<div class="container pt-5">
<h1 class="mb-4">User Profile - @Model.FullName</h1>
    <img style="width:100px;float:left;margin-right:20px"
         src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserType.Name)
        </dd>
    </dl>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary mx-1" title="Edit">
            <i class="fas fa-pencil-alt"></i>
        </a>
        <a asp-action="Index" class="btn btn-outline-primary mx-1" title="Return"><i class="fas fa-arrow-left"></i></a>
    </div>

